.post {
  border-bottom: 1px solid grey;
  padding-bottom: 2em;
  /* background-color: rgba(128, 128, 128, 0.123); */
  /* padding: 1em; */
  /* border-radius: 1em; */
}
.posts-container {
  padding-top: 1em;
}

.post + .post {
  margin-top: 2.5em;
}

.post-title span {
  color: whitesmoke;
  font-size: 1.6em;
  font-family: serif;
}

.post-title a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.8em;
  font-family: serif;
}

.post-title-animation {
  border-bottom: 2px solid var(--primary-alt-color);
  padding-bottom: 0.1em;
  margin-bottom: 0.5em;
  width: 10%;
}

.post-date {
  font-style: italic;
  color: rgb(180, 180, 180);
  padding: 0.5em 0;
  font-size: 1.2em;
}

.post-description {
  font-size: 1.2em;
  padding: 0.5em 0;
  color: rgb(175, 175, 175);
}

.post-description.highlight {
  font-size: 1.3em;
  color: whitesmoke;
}

.post-content {
  font-size: 1.3em;
  color: whitesmoke;
}

.post-title:hover {
  color: grey;
}

.post-title > a:hover + .post-title-animation {
  animation: animate-title 0.5s forwards;
}

@keyframes animate-title {
  100% {
    width: 30%;
  }
}
