:root {
  --primary-gradient: linear-gradient(90deg, #811ad4 0%, #d67187 100%);
  --primary-color: #811ad4;
  --primary-alt-color: #d67187;
}

html {
  background-color: rgb(30, 30, 30);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.page-title {
  padding: 0.5em;
  text-align: center;
  font-size: 2.75em;
  color: rgb(200, 200, 200);
  text-transform: uppercase;
  font-family: serif;
}

.display-width {
  max-width: 95ch;
  margin: 0 auto;
  padding: 0 1em;
}

.page-navigation {
  display: flex;
  justify-content: center;
  margin: 1em;
  padding: 1em;
  font-size: 1.22em;
}

.page-navigation a {
  text-decoration: none;
  color: whitesmoke;
  padding: 0 0.4em;
}

.page-navigation .currentPage {
  color: red;
}
