:root {
  --primary-gradient: linear-gradient(90deg, #1a5fb4 0%, #26a269 100%);
  --secondary-color: #1a5fb4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.page-title {
  padding: 0.5em;
  text-align: center;
}

.display-width {
  max-width: 95ch;
  margin: 0 auto;
  padding: 0 1em;
}
